[submodule "lib/mqtt_rpc"]
	path = lib/mqtt_rpc
	url = https://github.com/candale/esp8266_mqtt_rpc
	branch = sdk
[submodule "lib/esp_mqtt"]
	path = lib/esp_mqtt
	url = https://github.com/tuanpmt/esp_mqtt
[submodule "lib/ds18b20"]
	path = lib/ds18b20
	url = https://github.com/candale/esp826_ds18b20
